######## ########################
##
##	project related
##	
##### #####################

###### ################
##
##	system (linux)
##
#### ##########
*~
.svn/
*.key

###### ################
##
##	java
##	
#### ##########
*.class

###### ################
##
##	gradle
##
#### ##########
/build

###### ################
##
##	other
##
#### ##########
*.log

###### ################
##
##	system (osx)
##	thx: http://goo.gl/y4dZq
##
#### ##########
.DS_Store

###### ################
##
##	eclipse
##	thx: http://goo.gl/y4dZq
##
#### ##########
.classpath
.project
.settings/

###### ################
##
##	intellij
##	thx: http://goo.gl/y4dZq
##
### ##########
.idea/
*.iml
*.iws

###### ################
##
##	maven
##	thx: http://goo.gl/y4dZq
##
### ##########
log/
target/

###### ################
##
##	android
##
### ##########
proguard_logs/

###### ################
##
##	gradle
##
### ##########
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

###### ################
##
##	python
##	thx: http://goo.gl/WR3a3F
##
### ##########
__pycache__/
__init__.py
*.py[cod]
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.cache
